.ls{
    background: linear-gradient(145deg, #0f2027, #203a43, #2c5364);
    color:white;
    height:75vh;
}
.ls-logo{
    padding: 20px;
}
.ls-nav{
    padding:10px;
    padding-bottom:none;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.ls-nav .logo{
    max-width:140px;

}
.ls-nav .menu img{
    max-height:20px;
    opacity:0.6;
    cursor:pointer;
}
.ls-search{
    background-color: #032e84;
    display:flex;
    align-items:center;
    gap:10px;
    padding:10px 12px;
    margin-top:20px;
}
.ls-search img{
    width:16px;
}
.ls-search input{
    background:transparent;
    border:none;
    outline:none;
    color:white;
    font-size:11px;
}
.ls-search input::placeholder{
    color:#c8c8c8;

}
.ls-list{
    display:flex;
    flex-direction:column;
    height:70%;
    overflow:scroll;
}
::-webkit-scrollbar{
    display:none;
}
.friends img{
width:35px;
aspect-ratio:1/1;
border-radius:50%;
}
.friends{
    display: flex;
    align-items:center;
    gap:10px;
    padding:10px 20px;
    cursor: pointer;
    font-size: 13px;
}
.friend div{
    display:flex;
    flex-direction:column;

}
.friends span{
    color: #9f9f9f;
    font-size:11px;
}
.friends:hover{
    background-color:#077EFF;
}
.friends:hover span{
    color:white;
}